---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Main.astro';
 
interface Props {
  post: CollectionEntry<'blog'>;
}
 
export async function getStaticPaths() {
  const blogPosts = await getCollection('blog');
  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await post.render();
---
 
<Layout>
  <div class="mb-16">
    <article class="bg-base text-text max-w-prose mx-auto max-sm:px-2 space-y-4">
      <div class="mb-12">
        <div class="text-sky">---</div>
        <div class="text-teal">
          title<span class="text-subtext0">:</span>
          <h1 class="text-green inline">{post.data.title}</h1>
        </div>
        <div class="text-teal">
          date<span class="text-subtext0">:</span>
          <h1 class="text-green inline">{new Intl.DateTimeFormat("en-GB", { month: "long", day: "numeric", }).format(post.data.date)}</h1>
        </div>
        <div class="text-sky">---</div>
      </div>
      <Content components={{ h1: "h2", h2: "h3", h3: "h4" }}/>
    </article>
  </div>
</Layout>
