---
import Layout from "@/layouts/Main.astro"

import { getCollection } from 'astro:content';
 
const allPosts = await getCollection('blog');
 
---

<Layout>
  <main class="max-w-prose mx-auto flex flex-start flex-col">
    <h2 class="text-xl text-gray-1 ml-4 mb-6">Recent Posts</h2>
    <ol>
      {allPosts.map((post) => 
        <a href={`/blog/${post.slug}`}>
          <li class="p-4 text-gray-2 border-b border-gray-5 hover:border-gray-3 transition-colors">
            <strong class="mb-1">
              {post.data.title}
            </strong>
          </li>
        </a>
      )}
    </ol>
  </main>
</Layout>
