---
import { getEntry } from 'astro:content';
import Layout from '../layouts/Main.astro';
 
const home = await getEntry('projects', "projects");

const { Content } = await home.render();
---
 
<Layout>
  <div class="mb-16">
    <article class="bg-base text-text max-w-prose mx-auto max-sm:px-2 space-y-4">
      <Content components={{ h1: "h2", h2: "h3", h3: "h4" }}/>
    </article>
  </div>
</Layout>
