@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rosewater: 10 56% 91%;
  --flamingo: 0 59% 88%;
  --pink: 316 72% 86%;
  --mauve: 267 84% 81%;
  --red: 343 81% 75%;
  --maroon: 350 65% 77%;
  --peach: 23 92% 75%;
  --yellow: 41 86% 83%;
  --green: 115 54% 76%;
  --teal: 170 57% 73%;
  --sky: 189 71% 73%;
  --sapphire: 199 76% 69%;
  --blue: 217 92% 76%;
  --lavender: 232 97% 85%;
  --text: 226 64% 88%;
  --subtext1: 227 35% 80%;
  --subtext0: 228 24% 72%;
  --overlay2: 228 17% 64%;
  --overlay1: 230 13% 55%;
  --overlay0: 231 11% 47%;
  --surface2: 233 12% 39%;
  --surface1: 234 13% 31%;
  --surface0: 237 16% 23%;
  --base: 240 21% 15%;
  --mantle: 240 21% 12%;
  --crust: 240 23% 9%;
  --accent: var(--green);
}

:root.light-theme {
  --rosewater: 11 59% 67%;
  --flamingo: 0 60% 67%;
  --pink: 316 73% 69%;
  --mauve: 266 85% 58%;
  --red: 347 87% 44%;
  --maroon: 355 76% 59%;
  --peach: 22 99% 52%;
  --yellow: 35 77% 49%;
  --green: 109 58% 40%;
  --teal: 183 74% 35%;
  --sky: 197 97% 46%;
  --sapphire: 189 70% 42%;
  --blue: 220 91% 54%;
  --lavender: 231 97% 72%;
  --text: 234 16% 35%;
  --subtext1: 233 13% 41%;
  --subtext0: 233 10% 47%;
  --overlay2: 232 10% 53%;
  --overlay1: 231 10% 59%;
  --overlay0: 228 11% 65%;
  --surface2: 227 12% 71%;
  --surface1: 225 14% 77%;
  --surface0: 223 16% 83%;
  --base: 220 23% 95%;
  --mantle: 220 22% 92%;
  --crust: 220 21% 89%;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  @apply text-overlay1
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

[data-line] {
  @apply px-4 -mx-4 md:px-8 md:-mx-8
}

[data-highlighted-line] {
  position: relative;
}

[data-highlighted-line]::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  border-left: 4px solid hsl(var(--blue));
  @apply bg-blue/5;
}

aside [data-highlighted-line]::after {
  border-left: none;
}

::selection {
  @apply bg-accent/30
}

[data-highlighted-chars] {
  @apply bg-transparent;
  span {
    @apply bg-surface0 px-0.5 border-transparent border rounded-sm;
    border-bottom-color: hsl(var(--highlight-color));
  }
}

[data-rehype-pretty-code-title] {
  @apply bg-mantle text-text left-0 -mb-4 mt-4 md:-mb-8 md:mt-8 w-max px-4 md:px-6 py-1 md:py-2 font-mono text-sm md:text-[1rem] flex justify-between items-center gap-2
}
