@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dim: 60 22% 91%;
  --bg0: 48 53% 94%;
  --bg1: 210 42% 94%;
  --bg2: 60 22% 91%;
  --bg3: 180 21% 90%;
  --bg4: 180 19% 89%;
  --bg5: 180 25% 74%;
  --bg-red: 348 83% 93%;
  --bg-visual: 84 36% 86%;
  --bg-yellow: 48 67% 92%;
  --bg-green: 126 39% 94%;
  --bg-blue: 204 33% 92%;
  --red: 359 92% 65%;
  --orange: 24 93% 55%;
  --yellow: 43 100% 44%;
  --green: 112 46% 38%;
  --blue: 207 66% 50%;
  --aqua: 167 54% 43%;
  --purple: 308 48% 64%;
  --fg: 210 7% 40%;
  --statusline1: 84 36% 53%;
  --statusline2: 210 7% 49%;
  --statusline3: 359 70% 65%;
  --gray: 210 4% 55%;
  --gray1: 220 3% 60%;
  --gray2: 220 2% 51%;
}

:root.dark-theme {
  --bg-dim: 201 9% 17%;
  --bg0: 204 13% 19%;
  --bg1: 206 14% 24%;
  --bg2: 205 14% 28%;
  --bg3: 205 14% 32%;
  --bg4: 208 14% 36%;
  --bg5: 210 15% 39%;
  --bg-red: 353 14% 31%;
  --bg-visual: 353 14% 29%;
  --bg-yellow: 49 12% 29%;
  --bg-green: 127 9% 28%;
  --bg-blue: 207 28% 29%;
  --red: 358 72% 65%;
  --orange: 18 83% 65%;
  --yellow: 44 75% 68%;
  --green: 120 35% 52%;
  --blue: 200 87% 59%;
  --aqua: 165 34% 54%;
  --purple: 300 33% 68%;
  --fg: 41 15% 55%;
  --statusline1: 120 35% 52%;
  --statusline2: 41 15% 55%;
  --statusline3: 358 72% 65%;
  --gray0: 208 3% 48%;
  --gray1: 214 5% 53%;
  --gray2: 215 6% 58%;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  @apply text-gray0
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

[data-line] {
  @apply px-4 -mx-4 md:px-8 md:-mx-8
}

[data-highlighted-line] {
  position: relative;
}

[data-highlighted-line]::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  border-left: 4px solid hsl(var(--green));
  @apply bg-green/5;
}

aside [data-highlighted-line]::after {
  border-left: none;
}
