/* Line numbers */

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  @apply text-overlay1
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

/* Diff */

/* Applies to all neighbouring lines of code in code blocks with at least 1 diffed line (+/-) */
code:has(span.diff.add) > span::before, code:has(span.diff.remove) > span::before {
  content: " ";
  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  @apply text-overlay1 font-mono font-bold
}

[data-line].diff::after {
  @apply absolute top-0 left-0 w-full border-l-4 pointer-events-none
}

[data-line].diff.remove {
  @apply bg-red/5 relative;
}
[data-line].diff.remove::before {
  content: "-";
  @apply text-red
}
[data-line].diff.remove::after {
  content: " ";
  @apply border-red
}
[data-line].diff.add {
  @apply bg-green/5 relative;
}
[data-line].diff.add::before {
  content: "+";
  @apply text-green;
}

[data-line].diff.add::after {
  content: " ";
  @apply border-green;
}

/* Lines */

[data-line] {
  @apply px-4 -mx-4 md:px-8 md:-mx-8
}

/* Highlighted lines */

[data-highlighted-line] {
  position: relative;
}

[data-highlighted-line]::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  border-left: 4px solid hsl(var(--blue));
  @apply bg-blue/5;
}

/* In a <Note> component and similar, their border takes priority */

aside [data-highlighted-line]::after {
  border-left: none;
}

/* Highlighted chars */

[data-highlighted-chars] {
  @apply bg-transparent;
  span {
    @apply bg-surface0 px-0.5 border-transparent border rounded-sm;
    border-bottom-color: hsl(var(--highlight-color));
  }
}

/* Code blocks file name */

[data-rehype-pretty-code-title] {
  @apply bg-mantle text-text left-0 -mb-4 mt-4 md:-mb-8 md:mt-8 w-max px-4 md:px-6 py-1 md:py-2 font-mono text-sm md:text-[1rem] flex justify-between items-center gap-2
}

/* light and dark mode for code blocks */
code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

[data-theme="light"] {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }
}
