/* Line numbers */

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  @apply text-overlay1;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

/* Diff */

/* Applies to all neighbouring lines of code in code blocks with at least 1 diffed line (+/-) */
code:has(span.diff.add) > span::before,
code:has(span.diff.remove) > span::before {
  content: " ";
  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  @apply font-mono font-bold text-overlay1;
}

[data-line].diff::after {
  @apply pointer-events-none absolute left-0 top-0 w-full border-l-4;
}

[data-line].diff.remove {
  @apply relative bg-red/5;
}
[data-line].diff.remove::before {
  content: "-";
  @apply text-red;
}
[data-line].diff.remove::after {
  content: " ";
  @apply border-red;
}
[data-line].diff.add {
  @apply relative bg-green/5;
}
[data-line].diff.add::before {
  content: "+";
  @apply text-green;
}

[data-line].diff.add::after {
  content: " ";
  @apply border-green;
}

/* Lines */

[data-line] {
  @apply -mx-4 px-4 md:-mx-8 md:px-8;
}

/* Highlighted lines */

[data-highlighted-line] {
  position: relative;
}

[data-highlighted-line]::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  border-left: 4px solid hsl(var(--blue));
  @apply bg-blue/5 group-[.TEAL]:bg-teal/5 group-[.RED]:bg-red/5 group-[.BLUE]:bg-blue/5 group-[.YELLOW]:bg-yellow/5;
}

/* In a <Note> component and similar, their border takes priority */

aside [data-highlighted-line]::after {
  border-left: none;
}

/* Highlighted chars */

[data-highlighted-chars] {
  @apply bg-transparent;
  span {
    @apply rounded-sm border border-transparent bg-surface0 px-0.5;
    border-bottom-color: hsl(var(--highlight-color));
  }
}

/* Code blocks file name */

[data-rehype-pretty-code-title] {
  @apply left-0 -mb-6 mt-4 flex w-max items-center justify-between gap-2 bg-mantle px-4 py-1 font-mono text-sm text-text md:-mb-8 md:mt-8 md:px-6 md:py-2 md:text-[1rem];
}

/* light and dark mode for code blocks */
code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}

[data-theme="light"] {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }
}
