{% extends "index.html" %}

<!-- This page gets displayed when a HTML page couldn't be found for the given URL -->

{% block head_variables %}
  {% set title = config.title ~ " | Page Not Found" %}
  {% set description = config.title ~ " | Page Not Found" %}

  {% set og_image_title = config.title %}
  {% set og_image_description = "Page Not Found (404)" %}
{% endblock head_variables %}

{% block content %}
  <main>
    <h1>Page Not Found (404)</h1>
    <p>The page you were looking for could not be found :/</p>
  </main>
{% endblock content %}
