<!-- Entry point to every rendered page -->

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% set og_height = 675 %}
    {% set og_width = 1280 %}

    {% block head_variables %}
      {% set description = section.description | default(value=config.description) %}
      {% set title = config.title %}

      {% set og_image_title = config.title %}
      {% set og_image_description = config.description %}
    {% endblock head_variables %}

    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ get_url(path='main.css', cachebust=true) }}"
    />
    {% if config.author %}
      <meta name="author" content="{{ config.author }}" />
    {% endif %}

    <!-- og-image-generator specific -->
    {% if og_image_title %}
      <meta property="og-image-generator" key="title" value="{{ og_image_title }}" />
    {% endif %}
    {% if og_image_description %}
      <meta property="og-image-generator" key="description" value="{{ og_image_description }}" />
    {% endif %}
    {% set has_og_image = og_image_title or or_image_description %}

    <!-- SEO Tags -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta itemprop="headline" content="{{ title }}" />
    <meta name="description" content="{{ description }}" />

    {% if current_url %}
      {% set url = current_url | safe %}
      <meta property="og:url" content="{{ url }}" />

      <!-- OG image -->
      {% if has_og_image %}
        <meta name="og:type" content="summary_large_image" />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:title" content="{{ title }}" />
        <meta property="og:image" content="{{ url ~ 'og.png' }}" >
        <meta property="og:image:alt" content="{{ title }}" >

        <meta property="og:image:width" content="{{ og_width }}" />
        <meta property="og:image:height" content="{{ og_height }}" />
        <meta property="twitter:image:width" content="{{ og_width }}" />
        <meta property="twitter:image:height" content="{{ og_height }}" />
      {% endif %}
    {% endif %}

    <script src="/code_blocks.js" type="text/javascript" defer></script>
    <script src="/theme_toggle.js" type="text/javascript" defer></script>

    <!-- Allow adding custom elements to the <head> -->
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <div id="site">
      <header class="header">

        <!-- Header -->
    
        <div class="header__heading">
          <h1 class="header__heading__title">
            {% block heading %}
              {{ config.title }}
            {% endblock %}
          </h1>
          {% if config.extra.theme_toggle | default(value=true) %}
            <button type="button" class="header__heading__theme-toggle">
              <!-- A sun or moon icon gets inserted here with JavaScript -->
            </button>
          {% endif %}
        </div>

        <!-- Navigation -->

        {% if config.extra.header_links %}
          <nav>
            <ul class="header__links">
              {% for link in config.extra.header_links %}
                {% set current_path = current_path | default(value="ERROR") %}
                {% set link = link.link | default(value=link) %}
                {% set name = link.name | default(value=link) %}
                <!-- `current_path` contains a '/' at the end, but `link` may not -->
                {% set is_active = link | trim_end_matches(pat='/') == current_path | trim_end_matches(pat='/') %}
                <li>
                  <a
                    href="{{ link }}"
                    class="
                      header__links__link

                      {% if is_active %}
                        active
                      {% endif %}
                    "
                  >
                    {{ name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {% endif %}
      </header>

      <!-- Actual content of the page -->

      {% block content %}
        <main>
          <div class="space">
            {{ section.content | safe }}
          </div>
        </main>
      {% endblock content %}

      <!-- Footer -->

      {% if config.extra.show_footer | default(value=true) %}
        <footer>
          {{ config.extra.footer_message | default(value="Powered by [Zola](https://github.com/getzola/zola) and [nik-rev/carbon](https://github.com/nik-rev/carbon)") | markdown | safe }}
        </footer>
      {% endif %}
    </div>
  </body>
</html>
