{% extends "index.html" %}

<!-- This page is where the actual markdown gets rendered -->

{% block title %}
  <!-- The page is not part of any collection, it is a standalone page -->
  {% set is_standalone = page.ancestors | length == 1 %}

  {% set section = get_section(path=page.ancestors | last) %}
  {% set base_title = section.title | default(value=config.title) %}

  {% if is_standalone %}
    <!-- If the page is standalone, the page's title should change title of the website -->
    {% set title = page.title | default(value=config.title) %}
  {% else %}
    {% if page.title %}
      {% set title = base_title ~ " | " ~ page.title %}
    {% else %}
      {% set title = base_title %}
    {% endif %}
  {% endif %}
{% endblock title %}

{% block description %}
  {% set description = page.description | default(value=config.description) %}
{% endblock description %}

{% block og_image_title %}
  {% set og_image_title = page.title %}
{% endblock og_image_title %}

{% block og_image_description %}
  {% set og_image_description = page.description %}
{% endblock og_image_description %}

{% block heading %}
  <!-- The page is not part of any collection, it is a standalone page -->
  {% set is_standalone = page.ancestors | length == 1 %}

  {% if is_standalone %}
    {{ page.title | default(value=config.title) }}
  {% else %}
    {% set section = get_section(path=page.ancestors | last) %}
    {% set title = section.title | default(value=config.title) %}
    {{ title }}
  {% endif %}
{% endblock heading %}

{% block content %}
  <!-- The page is not part of any collection, it is a standalone page -->
  {% set is_standalone = page.ancestors | length == 1 %}

  <main class="post-content">
    <!-- Standalone pages should not have a 2nd level 1 heading -->
    {% if not is_standalone %}
      {% if page.title %}
        <h1 class="post-content__title">{{ page.title | markdown(inline=true) | safe }}</h1>
      {% endif %}
    {% endif %}

    <!-- Date of the page -->
    {% if page.date %}
      <p class="post-content__date">
        {{ page.date | date(format="%-d %B, %Y") }}
      </p>
    {% endif %}

    <!-- Main content of the page -->
    {{ page.content | safe }}
  </main>
{% endblock content %}
