{% extends "index.html" %}

{% block title %}
  {% set section = get_section(path=page.ancestors | last) %}
  {% set title = section.title | default(value=config.title) %}
  {{ title }} | {{ page.title }}
{% endblock title %}

{% block heading %}
  {% set section = get_section(path=page.ancestors | last) %}
  {% set title = section.title | default(value=config.title) %}
  {{ title }}
{% endblock heading %}

{% block description %}
  {{ page.description | default(value=config.description) }}
{% endblock description %}

{% block content %}
  <main>
    <h1 class="title">{{ page.title | markdown(inline=true) | safe }}</h1>
    {% if page.date %}
      <p class="secondary">
        {{ page.date | date(format="%-d %B, %Y") }}
      </p>
    {% endif %}
    <div class="space"></div>
    {{ page.content | safe }}
  </main>
{% endblock content %}
