{% extends "index.html" %}

{% block head_variables %}
  {% set section = get_section(path=page.ancestors | last) %}
  {% set base_title = section.title | default(value=config.title) %}

  {% set title = base_title ~ " | " ~ page.title %}
  {% set description = page.description | default(value=config.description) %}

  {% set og_image_title = page.title %}
  {% set og_image_description = page.description %}
{% endblock head_variables %}

{% block heading %}
  {% set section = get_section(path=page.ancestors | last) %}
  {% set title = section.title | default(value=config.title) %}
  {{ title }}
{% endblock heading %}

{% block content %}
  <main>
    <h1 class="title">{{ page.title | markdown(inline=true) | safe }}</h1>
    {% if page.date %}
      <p class="secondary">
        {{ page.date | date(format="%-d %B, %Y") }}
      </p>
    {% endif %}
    <div class="space"></div>
    {{ page.content | safe }}
  </main>
{% endblock content %}
