@import "tailwindcss";

@theme {
  --color-rosewater: hsl(10deg, 56%, 91%);
  --color-flamingo: hsl(0deg, 59%, 88%);
  --color-pink: hsl(316deg, 72%, 86%);
  --color-mauve: hsl(267deg, 84%, 81%);
  --color-red: hsl(343deg, 81%, 75%);
  --color-maroon: hsl(350deg, 65%, 77%);
  --color-peach: hsl(23deg, 92%, 75%);
  --color-yellow: hsl(41deg, 86%, 83%);
  --color-green: hsl(115deg, 54%, 76%);
  --color-teal: hsl(170deg, 57%, 73%);
  --color-sky: hsl(189deg, 71%, 73%);
  --color-sapphire: hsl(199deg, 76%, 69%);
  --color-blue: hsl(217deg, 92%, 76%);
  --color-lavender: hsl(232deg, 97%, 85%);
  --color-text: hsl(226deg, 64%, 88%);
  --color-subtext1: hsl(227deg, 35%, 80%);
  --color-subtext0: hsl(228deg, 24%, 72%);
  --color-overlay2: hsl(228deg, 17%, 64%);
  --color-overlay1: hsl(230deg, 13%, 55%);
  --color-overlay0: hsl(231deg, 11%, 47%);
  --color-surface2: hsl(233deg, 12%, 39%);
  --color-surface1: hsl(234deg, 13%, 31%);
  --color-surface0: hsl(237deg, 16%, 23%);
  --color-base: hsl(240deg, 21%, 15%);
  --color-mantle: hsl(240deg, 21%, 12%);
  --color-crust: hsl(240deg, 23%, 9%);
}

article {
  .expressive-code .frame {
    box-shadow: none !important;
  }

  .expressive-code pre {
    /* background-color: var(--color-mantle) !important; */
    border-radius: 0 !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    position: relative !important;
    &::after {
      content: "```" !important;
      color: var(--color-overlay0);
      position: absolute;
      bottom: 0;
    }
    &::before {
      content: "```" attr(data-language) !important;
      color: var(--color-overlay0);
      position: absolute;
      top: 0;
    }

    & > code {
      padding-top: 1.6rem !important;
      padding-bottom: 1.6rem !important;
    }
  }

  ul {
    @apply space-y-4 my-8;
    & > li {
      @apply space-y-4;
      margin-left: 2rem;
      position: relative;
      &::before {
        content: "-";
        position: absolute;
        left: -1.4rem;
        color: var(--color-mauve);
      }
    }
  }

  a {
    @apply text-blue;
    &::before {
      content: "[";
      @apply text-surface2;
    }
    &::after {
      content: "]";
      @apply text-surface2;
    }
  }

  strong {
    @apply font-bold;
  }

  i {
    @apply italic;
  }

  p code {
    color: var(--color-flamingo);
    &::before {
      content: "`";
      color: var(--color-subtext0);
    }
    &::after {
      content: "`";
      color: var(--color-subtext0);
    }
  }

  h2 {
    @apply mt-12;
    color: var(--color-green);
    &::before {
      content: "## ";
      color: var(--color-peach);
    }
  }

  hr {
    border: none;
    height: 2rem;
    position: relative;
    &::after {
      content: "---";
      color: var(--color-sky);
      z-index: 10;
      position: absolute;
    }
  }

  h3 {
    @apply mt-10;
    color: var(--color-mauve);
    &::before {
      content: "### ";
      color: var(--color-peach);
    }
  }

  h4 {
    @apply mt-8;
    color: var(--color-yellow);
    &::before {
      content: "#### ";
      color: var(--color-peach);
    }
  }
}

/* .expressive-code pre, */
/* .expressive-code code { */
/* background-color: var(--color-gray-5) !important; */
/* border-color: var(--color-gray-7) !important; */
/* } */

/* .expressive-code .header::after { */
/* border-color: var(--color-gray-6) !important; */
/* } */

/* .expressive-code .is-terminal .header { */
/* background-color: var(--color-gray-6) !important; */
/* border-color: var(--color-gray-7) !important; */
/* &::before { */
/* background-color: var(--color-gray-3) !important; */
/* } */
/* } */

/* .expressive-code .has-title .header { */
/* &::before { */
/* background-color: var(--color-gray-6) !important; */
/* border-color: var(--color-gray-7) !important; */
/* } */
/* background-color: var(--color-gray-7) !important; */
/* border-color: var(--color-gray-7) !important; */
/* .title { */
/* background-color: var(--color-gray-7) !important; */
/* } */
/* } */

/* .copy button { */
/* background-color: var(--color-gray-5) !important; */
/* border-color: var(--color-gray-7) !important; */
/* } */
