@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --color-accent-1: #aad7a0;
  --color-accent-2: #247f00;
  --color-accent-3: #072d00;
  --color-white: #ffffff;
  --color-gray-1: oklch(94.84% 0.0124 137.78);
  --color-gray-2: oklch(81.22% 0.0146 138.72);
  --color-gray-3: oklch(63.7% 0.0297 140.16);
  --color-gray-4: oklch(45.89% 0.0289 141.42);
  --color-gray-5: oklch(34.04% 0.0302 139.43);
  --color-gray-6: oklch(30.01% 0.0299 139.2);
  --color-gray-7: oklch(26.99% 0.0296 139.03);
  --color-black: oklch(20.99% 0.0155 136.77);
}

.prose {
  --tw-prose-lead: var(--color-gray-3);
  --tw-prose-th-borders: var(--color-gray-7);
  --tw-prose-td-borders: var(--color-gray-7);

  --tw-prose-headings: var(--color-gray-2);
  --tw-prose-links: var(--color-accent-1);
  --tw-prose-body: var(--color-gray-2);
  --tw-prose-bold: var(--color-gray-2);
  --tw-prose-code: var(--color-gray-2);
  --tw-prose-hr: var(--color-gray-7);
  --tw-prose-bullets: var(--color-gray-4);

  --tw-prose-quotes: var(--color-gray-3);
  --tw-prose-quote-borders: var(--color-gray-3);

  --tw-prose-captions: var(--color-gray-3);

  code {
    background-color: var(--color-gray-7);
    font-family: monospace;
    font-weight: normal;
    display: inline-block;
    white-space: nowrap;
    padding: 0 0.2rem;
    border-radius: 0.2rem;
    margin: -0.2rem 0rem;
    &::after,
    &::before {
      content: "";
    }
  }

  a {
    &:has(code) {
      text-decoration: none;
    }
    &:hover {
      opacity: 90%;
    }
    code {
      border-bottom: 2px solid var(--color-accent-1);
    }
  }

  ol li::marker {
    color: var(--color-gray -4);
  }
}

.expressive-code pre,
.expressive-code code {
  background-color: var(--color-gray-5) !important;
  border-color: var(--color-gray-7) !important;
}

.expressive-code .header::after {
  border-color: var(--color-gray-6) !important;
}

.expressive-code .is-terminal .header {
  background-color: var(--color-gray-6) !important;
  border-color: var(--color-gray-7) !important;
  &::before {
    background-color: var(--color-gray-3) !important;
  }
}

.expressive-code .has-title .header {
  &::before {
    background-color: var(--color-gray-6) !important;
    border-color: var(--color-gray-7) !important;
  }
  background-color: var(--color-gray-7) !important;
  border-color: var(--color-gray-7) !important;
  .title {
    background-color: var(--color-gray-7) !important;
  }
}

.copy button {
  background-color: var(--color-gray-5) !important;
  border-color: var(--color-gray-7) !important;
}
