---
import "@/tailwind.css"

const currentPath = Astro.url.pathname;

const { title } = Astro.props;

/*
 * Applies a style to a navbar link if we are currently on that page
 * No args -> Matches only root
 */
const styleCurrentPath = (path: string = "") => (new RegExp(`^/${path}/?$`)).test(currentPath) ? "underline" : ""
---
<html lang="en" class="h-full bg-black">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-base flex flex-col min-h-full font-mono">
		<nav class="bg-mantle w-full py-4 text-subtext1 mb-10 px-6">
			<div class="max-w-prose flex justify-between mx-auto">
				<ul class="flex gap-x-8 *:hover:text-maroon *:hover:underline">
				  <li class={styleCurrentPath()}><a href="/">home</a></li>
				  <li class={styleCurrentPath("blog")}><a href="/blog">blog</a></li>
				  <li class={styleCurrentPath("projects")}><a href="/projects">projects</a></li>
				</ul>
			</div>
		</nav>
	  <slot />
	</body>
</html>
