---
import "@/tailwind.css"

const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-black">
		<nav class="bg-gray-6 w-full py-4 text-gray-2 mb-10 font-mono shadow-sm">
			<div class="max-w-prose flex justify-between mx-auto">
				<ul class="flex gap-x-8">
				  <li class="hover:text-gray-1 hover:underline"><a href="/">home</a></li>
				  <li class="hover:text-gray-1 hover:underline"><a href="/blog">blog</a></li>
				  <li class="hover:text-gray-1 hover:underline"><a href="/projects">projects</a></li>
				</ul>
				<ul class="flex">
				  <li class="hover:text-gray-1 hover:underline">
						<a href="https://github.com/NikitaRevenco">
						  github
						</a>
					</li>
				</ul>
			</div>
		</nav>
	  <slot />
		<footer class="w-full bg-gray-6 text-center py-4 mt-16 text-gray-2">
			Made with ❤️ by Nikita
		</footer>
	</body>
</html>
